@font-face {
    font-family: 'LMR';
    src: URL('Latin-Modern-Roman/lmroman10-regular.otf') format('opentype');
}

body {
    margin: 0 auto;
    width: 60%;
}

* {
    font-family: 'LMR';
}

p {
    text-align: justify;
}

h2 {
    margin-top: 35px;
    border-bottom: 1px #DDD solid;
}

.date {
    margin-right: 10px;
}

figure {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 100%;

}

figure.half {
    width: 50%;
    maring: 0 auto;
}


figcaption {
    color: #555;
    font-size: 80%
}

img {
    width: 100%;
    margin: 0 auto;
}


iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

.row {
    display: flex;
    width: 100%;
}

.column-1 {
    flex: 100%;
}

.column-2 {
    display: flex;
    flex: 50%;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.column-3 {
    display: flex;
    flex: 33.33%;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.column-4 {
    display: flex;
    flex: 25%;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
