@font-face {
    font-family: 'FiraCode';
    src: URL('FiraCode-Regular.ttf') format('truetype');
}

body {
    margin: 0 auto;
    width: 90%;
}

* {
    font-family: 'FiraCode';
}

.date {
    margin-right: 10px;
}
